@import "./../helpers/animation.css";

.domain-table {
    background-color: var(--gray-light);
    padding: 15px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    animation: fadeIn .5s;
    animation-fill-mode: forwards;
}

.is-editing {
    .domain-table {
        display: none;
    }
}