
.domain-form {
    transition: opacity .5s, transform .5s;
    padding: 15px;
    border-radius: 5px;
    opacity: 0;
    top: 50%;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    transform: scale(.8);
}

.is-editing {
    .domain-form {
        opacity: 1;
        transform: scale(1);
    }
}