@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";

html,
body {
    height: 100%;
}

.fadeUp {
    animation: fadeUp .3s;
    animation-fill-mode: forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}