@import "../../node_modules/bootstrap/dist/css/bootstrap.min";

@import "./components/DomainForm";
@import "./components/DomainTable";
@import "./components/Table";
@import "./helpers/variables";

html,
body {
    height: 100%;
    background: linear-gradient(45deg, var(--orange-light), var(--orange-dark));
}

main {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
